In [3]:
import pandas as pd

In [ ]:

 
excel1=pd.read_csv(r'C:\Users\sraje\Code\SavvyCoders\Capstone\Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv')

In [2]:
excel1.to_excel("Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.xlsx",sheet_name="Sheet1")

In [1]:
Womenobesity=pd.read_csv(r'C:\Users\sraje\Code\SavvyCoders\Capstone\Nutrition__Physical_Activity__and_Obesity_-_Women__Infant__and_Child.csv')

NameError: name 'pd' is not defined

In [8]:
Womenobesity.to_excel('Women_obesity.xlsx',sheet_name="Sheet1")

In [4]:
youthobesity=pd.read_csv(r'C:\Users\sraje\Code\SavvyCoders\Capstone\Nutrition__Physical_Activity__and_Obesity_-_Youth_Risk_Behavior_Surveillance_System.csv')

In [10]:
youthobesity.to_excel('youth_obesity.xlsx',sheet_name="Sheet1")

In [11]:
adolescentobesity=pd.read_csv(r'C:\Users\sraje\Code\SavvyCoders\Capstone\Obesity_among_children_and_adolescents_aged_2_19_years__by_selected_characteristics__United_States.csv')

In [12]:
adolescentobesity.to_excel('adolescent_obesity.xlsx',sheet_name="Sheet1")

In [2]:
womensobesity_cleaned=pd.read_csv(r'C:\Users\sraje\Code\SavvyCoders\Capstone\Women_obesity(Sheet1).csv')
behaviralobesity_cleaned=pd.read_csv(r'C:\Users\sraje\Code\SavvyCoders\Capstone\behavioral(Sheet1).csv')

In [3]:
combinedwomen_behavior=pd.concat([behaviralobesity_cleaned,womensobesity_cleaned],ignore_index=True)

In [4]:
combinedwomen_behavior.shape

(117124, 20)

In [11]:
duplicates=combinedwomen_behavior[combinedwomen_behavior.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [YearStart, LocationAbbr, LocationDesc, Class, Topic, Question, Data_Value, Low_Confidence_Limit, Unnamed: 8, High_Confidence_Limit , age(years), Education, Sex, Income, Race/Ethnicity, ClassID, TopicID, Unnamed: 0, Data_Value_Alt, Age(months)]
Index: []

In [12]:
combinedwomen_behavior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117124 entries, 0 to 117123
Data columns (total 20 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   YearStart               117124 non-null  int64
 1   LocationAbbr            117124 non-null  object
 2   LocationDesc            117124 non-null  object
 3   Class                   117124 non-null  object
 4   Topic                   117124 non-null  object
 5   Question                117124 non-null  object
 6   Data_Value              105978 non-null  float64
 7   Low_Confidence_Limit    93505 non-null   float64
 8   Unnamed: 8              0 non-null       float64
 9   High_Confidence_Limit   93505 non-null   float64
 10  age(years)              22344 non-null   object
 11  Education               14896 non-null   object
 12  Sex                     9716 non-null    object
 13  Income                  26068 non-null   object
 14  Race/Ethnicity          35462 non-null   object
 15  ClassID                 104272 non-null  object
 16  TopicID                 104272 non-null  object
 17  Unnamed: 0              12852 non-null   float64
 18  Data_Value_Alt          12473 non-null   float64
 19  Age(months)             3780 non-null    object
dtypes: float64(6), int64(1), object(13)
memory usage: 17.9+ MB

In [16]:
print(combinedwomen_behavior.columns.tolist())

['YearStart', 'LocationAbbr', 'LocationDesc', 'Class', 'Topic', 'Question', 'Data_Value', 'Low_Confidence_Limit', 'Unnamed: 8', 'High_Confidence_Limit ', 'age(years)', 'Education', 'Sex', 'Income', 'Race/Ethnicity', 'ClassID', 'TopicID', 'Unnamed: 0', 'Data_Value_Alt', 'Age(months)']

In [17]:
data_combined = combinedwomen_behavior.drop(
    columns=[
        'Unnamed: 8',
        'Low_Confidence_Limit',
        'High_Confidence_Limit ',
        'ClassID',
        'TopicID',
        'Unnamed: 0',
        'Data_Value_Alt'
    ]
)

In [19]:
data_combined.shape

(117124, 13)

In [20]:
data_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117124 entries, 0 to 117123
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   YearStart       117124 non-null  int64
 1   LocationAbbr    117124 non-null  object
 2   LocationDesc    117124 non-null  object
 3   Class           117124 non-null  object
 4   Topic           117124 non-null  object
 5   Question        117124 non-null  object
 6   Data_Value      105978 non-null  float64
 7   age(years)      22344 non-null   object
 8   Education       14896 non-null   object
 9   Sex             9716 non-null    object
 10  Income          26068 non-null   object
 11  Race/Ethnicity  35462 non-null   object
 12  Age(months)     3780 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 11.6+ MB

In [5]:
youthobesity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50092 entries, 0 to 50091
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   50092 non-null  int64
 1   YearEnd                     50092 non-null  int64
 2   LocationAbbr                50092 non-null  object
 3   LocationDesc                50092 non-null  object
 4   Datasource                  50092 non-null  object
 5   Class                       50092 non-null  object
 6   Topic                       50092 non-null  object
 7   Question                    50092 non-null  object
 8   Data_Value_Unit             0 non-null      float64
 9   Data_Value_Type             50092 non-null  object
 10  Data_Value                  35385 non-null  float64
 11  Data_Value_Alt              35385 non-null  float64
 12  Data_Value_Footnote_Symbol  14707 non-null  object
 13  Data_Value_Footnote         14707 non-null  object
 14  Low_Confidence_Limit        35385 non-null  float64
 15  High_Confidence_Limit       35385 non-null  float64
 16  Sample_Size                 35798 non-null  float64
 17  Total                       3578 non-null   object
 18  Sex                         7156 non-null   object
 19  Grade                       14312 non-null  object
 20  Race/Ethnicity              25046 non-null  object
 21  GeoLocation                 48888 non-null  object
 22  ClassID                     50092 non-null  object
 23  TopicID                     50092 non-null  object
 24  QuestionID                  50092 non-null  object
 25  DataValueTypeID             50092 non-null  object
 26  LocationID                  50092 non-null  int64
 27  StratificationCategory1     50092 non-null  object
 28  Stratification1             50092 non-null  object
 29  StratificationCategoryId1   50092 non-null  object
 30  StratificationID1           50092 non-null  object
dtypes: float64(6), int64(3), object(22)
memory usage: 11.8+ MB

In [6]:
youthobesity.head(5)

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2023,2023,AL,Alabama,Youth Risk Behavior Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of students in grades 9-12 who achieve...,NaN,Value,...,"(32.840571122, -86.631860762)",PA,PA1,Q048,VALUE,1,Grade,9th,GRADE,GRADE09
1,2023,2023,AL,Alabama,Youth Risk Behavior Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of students in grades 9-12 who achieve...,NaN,Value,...,"(32.840571122, -86.631860762)",PA,PA1,Q048,VALUE,1,Grade,10th,GRADE,GRADE10
2,2023,2023,AL,Alabama,Youth Risk Behavior Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of students in grades 9-12 who achieve...,NaN,Value,...,"(32.840571122, -86.631860762)",PA,PA1,Q048,VALUE,1,Grade,11th,GRADE,GRADE11
3,2023,2023,AL,Alabama,Youth Risk Behavior Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of students in grades 9-12 who achieve...,NaN,Value,...,"(32.840571122, -86.631860762)",PA,PA1,Q048,VALUE,1,Grade,12th,GRADE,GRADE12
4,2023,2023,AL,Alabama,Youth Risk Behavior Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of students in grades 9-12 who achieve...,NaN,Value,...,"(32.840571122, -86.631860762)",PA,PA1,Q048,VALUE,1,Race/Ethnicity,2 or more races,RACE,RACE2PLUS

In [7]:
print (youthobesity.columns.to_list)

<bound method IndexOpsMixin.tolist of Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Sex', 'Grade', 'Race/Ethnicity', 'GeoLocation',
       'ClassID', 'TopicID', 'QuestionID', 'DataValueTypeID', 'LocationID',
       'StratificationCategory1', 'Stratification1',
       'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')>

In [9]:
youthobesity_cleaned = youthobesity.drop(columns=[ 'YearEnd',  'Datasource',
        'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total',  'GeoLocation',
       'ClassID', 'TopicID', 'QuestionID', 'DataValueTypeID', 'LocationID',
       'StratificationCategory1', 'Stratification1',
       'StratificationCategoryId1', 'StratificationID1']
      )

In [10]:
print(youthobesity_cleaned.columns.to_list)

<bound method IndexOpsMixin.tolist of Index(['YearStart', 'LocationAbbr', 'LocationDesc', 'Class', 'Topic',
       'Question', 'Data_Value_Unit', 'Sex', 'Grade', 'Race/Ethnicity'],
      dtype='object')>

In [ ]:
 YearStart       117124 non-null  int64  
 1   LocationAbbr    117124 non-null  object 
 2   LocationDesc    117124 non-null  object 
 3   Class           117124 non-null  object 
 4   Topic           117124 non-null  object 
 5   Question        117124 non-null  object 
 6   Data_Value      105978 non-null  float64
 7   age(years)      22344 non-null   object 
 8   Education       14896 non-null   object 
 9   Sex             9716 non-null    object 
 10  Income          26068 non-null   object 
 11  Race/Ethnicity  35462 non-null   object 
 12  Age(months)     3780 non-null    object